.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  margin: 10px;
  animation-name: fadeIn;
  animation-duration: 1s;

  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border-radius: 5px;
}

img:hover{
  transform: scale(1.2);
}

button {
  margin: 3px;
}

#betButton{
  margin: 0;
}


button:hover{
  background-color:rgb(209, 208, 208);
  
}
p.hidden  {
    
    opacity: 0;
}
/* #loginUi{
  
 
} */
#loginPage{
  margin-top: 80px;
 
}


#menu{
  text-align: center;
  margin-top: 50px;

}

#leaderboard{
  text-align:start;
  font-size:  15px;
  position: absolute;
 right: 0px;
 top: 20px;
 opacity: 0;
 font-weight: bold;

}
body{
  text-align: center;
  
}

#topContainer{
  text-align: center;
  margin: 0; height: 100%; 
  overflow-x: hidden;
  background-color: rgb(210,238,255);
  font-size: 14px;
}
#secondButtons{
  display: inline;
  margin-left: 100px;
}

#trivia{
 
  bottom:120px;
 position: relative;
 width: 20%;
 margin-right: 10%;
 float: right;
}

#joke{
  bottom:120px;
 position: relative;
 width: 20%;
 margin-left: 7%;
 float: left;
}

#lostModal{
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1; 
  display: none;
  
}

#lostModal > button{
  position: relative;
  top: 50%;
 
}

#lostModal > h1{
  position: fixed;
  top: 30%;
  width: 100%;
  color: antiquewhite;
 
}

#modalSub{
  position: fixed;
  width: 100%;
  top: 40%;
  color: antiquewhite;
}
body > h1,h2{
  font-family: 'myFont';
}

.button {
  opacity: 1;
  font-family: 'myFont';
}

.title{
  font-family: 'myFont'
}

#menuButton{
  font-family: 'calibri';
}

#menuButton1{
  font-family: 'calibri';
}
#menuButton2{
  font-family: 'calibri';
}



@font-face {
  font-family: 'myFont';
  src: local('myFont'), url(./assets/fonts/slkscr.ttf) format('truetype');

}

@font-face{
  
  font-family: 'myFontb';
  src: local('myFontb'), url(./assets/fonts/slkscrb.ttf) format('truetype');
}


/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {right: -300px; opacity: 0}
  to {right: 150; opacity: 1}
}

@keyframes slideInImage {
  from {bottom: 0px; opacity: 0}
  to {bottom: 250px; opacity: 1}
}


@keyframes slideOut {
  from {right: 150px; opacity: 1}
  to {right: -300px; opacity: 0}
}


@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}